.container {
    background: white;
    display: flex;
    flex-direction: column;
    color: var(--secondaryText);
    flex-shrink: 0;
    min-width: 384px;
    margin-left: 32px;
    margin-right: 32px;
}

@media screen and (max-width: 959px) {
    .container {
        display: none;
    }
}

.header {
    background: var(--primaryDark);
    min-height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.name {
    color: white;
    font-size: 2em;
    margin: 0;
    padding: 0;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.small {
    font-size: 1.5em;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 16px;
}
