.container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    filter: opacity(0.9);
}

.card:hover, .card:focus, .card:active {
    filter: opacity(1);
}

@media screen and (max-width: 959px) {
    .card {
        width: 100%;
        filter: opacity(1);
     }
}
