.container {
    background: white;
    color: var(--secondaryText);
    margin-left: 16px;
    margin-top: 16px;
    position: relative;
    min-width: 320px;
    min-height: 220px;
    padding: 16px;
    padding-right: 24px;
}

.mock {
    height: 220px;
    width: 110px;
    float: left;
}

.info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background: white;
    color: var(--secondaryText);
}

@media screen and (min-width: 960px) {
    .info {
        min-width: 256px;
    }
}

.sider {
    background: var(--primaryDark);
    max-width: 128px;
    position: absolute;
    left: -16px;
    top: -16px;
}

.name {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 4px;
    text-align: center;
    white-space: normal;
    color: white;
}

.levelRange {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
