.portrait {
    align-self: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.info {
    display: flex;
    flex-direction: column;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
