.container {
    display: flex;
}

.info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background: white;
    color: var(--secondaryText);
}

.clickable {
    cursor: pointer;
}

@media screen and (min-width: 960px) {
    .info {
        min-width: 256px;
    }
}

.sider {
    background: var(--primaryDark);
    max-width: 128px;
}

.name {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 8px;
    margin-top: 4px;
    text-align: center;
    white-space: normal;
}

.levelRange {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}
