.container {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: var(--secondaryText);
}

.portrait {
    align-self: center;
    margin-top: 16px;
}

.name {
    align-self: center;
    font-size: 2em;
    margin: 0;
    margin-top: 8px;
}

.info {
    display: flex;
    flex-direction: column;
}
